@model IEnumerable<Lares.ViewModels.PropertyViewModel>
@using Microsoft.AspNetCore.Identity
@using Lares.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Properties</h1>

@if (ViewBag.Message != null)
{
    <div class="alert alert-@ViewBag.MessageType">@ViewBag.Message</div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="card-deck">
        @foreach (var prop in Model)
        {
            <div class="card">
                <!-- Hide images for now: -->
                <!--
                    <img class="card-img-top" src="..." alt="Image of @prop.Name">
                -->
                <div class="card-body">
                    <h5 class="card-title">
                        <a asp-controller="Property" asp-action="Details" asp-route-id="@prop.Id">@Html.DisplayFor(modelItem => prop.Name)</a>
                    </h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => prop.Description)</p>
                    <a asp-action="SetCurrent" asp-route-id="@prop.Id" class="btn btn-primary">Set Current</a>
                </div>
            </div>
        }
    </div>
</div>