@model Lares.Entities.MaterialEntry

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MaterialEntry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkTask.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityUsed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostPerUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostPerUnit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
